package models

import "time"

//{{.NameCamel}}
type {{.NameCamel}} struct {
	{{- range .Fields}}
    {{- if eq .JoinType "" }}
    {{.NameCamel}}      {{.MetaType.GoType}}        `{{.TagsHTML}}`
    {{- end }}
    {{- if or (eq .JoinType "ManyToMany") (eq .JoinType "HasMany")}}
    {{.NameCamelPlural}}      []*{{.ModelAssociationFieldName}}        `{{.ModelTag}}`
    {{- else}}
    {{.NameCamel}}      *{{.ModelAssociationFieldName}}        `{{.ModelTag}}`
    {{- end}}
    {{- end}}
}

//TableName
func (m *{{.NameCamel}}) TableName() string {
	return "{{.Name}}"
}
