// +build ignore

package main

import (
	"log"

	"github.com/shurcooL/vfsgen"

	"{{.PkgPath}}/assets"
)

func main() {
	err := vfsgen.Generate(assets.Swagger, vfsgen.Options{
		PackageName:  "assets",
		BuildTags:    "!dev",
		VariableName: "Swagger",
	})
	if err != nil {
		log.Fatalln(err)
	}
}
